<div class="center-l box-l --s4p0">
	<section class="stack-l">
		<div>
			<div class="with-sidebar-l --s3">
				<section>
					<div class="info_2_columns_col1 stack-l">
						<h2>Empreinte environnementale</h2>
						{{/*  TODO: select 1000 à faire  */}}
						<p>Pour <span>1000</span> visites par mois, l’empreinte de cette page est de :</p>
						<hr class="small" />
					</div>
					<div class="info_2_columns_col2 stack-l center-l --s3">
						{{ .Content }}
					</div>
				</section>
			</div>
		</div>
	</section>
</div>
