{{- $section := .page }}
{{- partial "main/hero" . }}
<div class="center-l">
	<p>{{- $section.Params.content.subtitle -}}</p>
</div>

<article class="center-l">
	<form action="{{- index $section.Params.content.url -}}" method="post">
		<input type="text" name="siteurl" placeholder="{{- index $section.Params.content.placeholder -}}" size="40" />
		<input type="submit" value="{{- index $section.Params.content.submitText -}}" />
	</form>
</article>

<div class="center-l">
	{{ $section.Content }}
</div>
