{% extends 'base.html.twig' %}

{% block title %}{% trans %}ecoindex_title{% endtrans %}{% endblock %}

{% block body %}
    <section>
        <h1>{% trans %}ecoindex_about{% endtrans %}</h1>
    </section>
{% endblock %}
