{% extends 'base.html.twig' %}

{% block title %}{% trans %}ecoindex_title{% endtrans %}{% endblock %}

{% block body %}
    <nav>
        <span><a href="#">EcoIndex v3</a></span>
        <span><a href="">Qu'est-ce qu'EcoIndex ?</a></span>
        <span><a href="">Dernières Recherches</a></span>
        <span><a href="">A propos</a></span>
    </nav>
    <section>
        <h1>Saisissez L'URL d'un site à tester:</h1>
        <input type="text" placeholder="https://greenit.fr" />
        <button>
            Analyser
        </button>
    </section>
    <section>
        Bonnes pratiques Eco-Conception
    </section>
{% endblock %}
