# Apache
.htpasswd

# Backup Files
*.markdown~
*.md~

# Hugo
assets/jsconfig.json
hugo_stats.json
public/
resources/
_vendor

# Node
node_modules/

# OS Files

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## OSX
.DS_Store

# Editors Files
dev.sh

## Illustrator
.idea

## IntelliJ
*.iml

## VIM
.*.swp

# VSCODE
.history

# Netlify
.netlify
