{
	"printWidth": 120,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"proseWrap": "always",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "go-template"
			}
		}
	]
}
