{
	"printWidth": 120,
	"singleQuote": false,
	"useTabs": true,
	"tabWidth": 2,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"proseWrap": "always",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "go-template",
				"goTemplateBracketSpacing": true,
				"bracketSameLine": true
			}
		},
		{
			"files": ["*.js", "*.ts"],
			"options": {
				"useTabs": true
			}
		}
	]
}
