<!DOCTYPE html>
<html>

	<!-- <head> from "layouts/partials/head.html"-->
	{{ partial "head.html" }}

	<body>

		<main>

			<!-- <nav> from "layouts/partials/nav.html"-->
			{{ partial "nav.html" . }}

			<!-- <header> from "layouts/partials/header.html" -->
			{{ partial "header.html" . }}

			<!-- From "content/main/...md" -->
			<p>// The content starts below. Edit it in <code>"content/{{ .File }}"</code>.<br/>
			// You can also edit the corresponding layout into <code>"layouts/main/single.html"</code>.</p>
			<h1>{{ .Title }}</h1>
			{{ .Content }}

			<!-- <footer> from "layouts/partials/footer.html" -->
			{{ partial "footer.html" }}

		</main>

	</body>

</html>