body {
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
main {
	padding: 10px
}

header {
	margin: 0;
	background-color: #333333;
}


nav, article, footer {
	background-color: #333;;
	padding: 10px;
	border: solid 1px;
	margin: 10px 0;
	background-color: whitesmoke;
}


code {
	background-color: dimgray;
	color: white;
	padding: 2px;
}