.dialog-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.dialog-container[aria-hidden="true"] {
	display: none;
}

.dialog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--color-overlay-bg);
	animation: fade-in 200ms both;
}

.dialog-content {
	background-color: var(--color-primary);
	margin: auto;
	position: relative;
	animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
	max-width: calc(100% - 2 * var(--s1));
	width: var(--measure);
	border-radius: 2px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes slide-up {
	from {
		transform: translateY(10%);
	}
}

.dialog-close {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	border: 0;
	padding: 0;
	background-color: transparent;
	font-weight: bold;
	font-size: 1.25em;
	width: 1.2em;
	height: 1.2em;
	text-align: center;
	cursor: pointer;
	transition: 0.15s;
}
