/* Things outside body. */
/* For ex: backround color on intense vertical scrolls (mobile) */
html {
	background-color: var(--color-darkish);
	color: var(--color-dark);
}

*,
*::before,
*::after {
	font-family: inherit;
	color: inherit;
	overflow-wrap: break-word;
	border-style: solid;
	border-width: 0;
	border-color: currentColor;
}

::placeholder {
	color: var(--color-lightest);
	padding: var(--s-5) var(--s-5) var(--s-5) 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-color: var(--color-lightest);
}

/* Headings */
h1,
h2 {
	font-weight: var(--font-weight-normal);
}
h1 {
	font-size: var(--s5);
}
h2 {
	font-size: var(--s4);
}

hr {
	border-color: var(--color-mid);
}
hr.small {
	width: 30%;
}

.bold {
	font-weight: bold;
}

/* Main link */
[href="#main"] {
	padding: 0 var(--s-1);
	background-color: var(--color-light);
}
[href="#main"]:focus {
	color: var(--color-dark);
	border-color: var(--color-lightish);
	left: var(--border-thick);
	top: var(--border-thick);
}

/* Block quotes */
blockquote {
	font-style: italic;
	padding-top: var(--s1);
	padding-bottom: var(--s1);
}
blockquote > p:before {
	content: "\00ab\202F";
}
blockquote > p:after {
	content: "\202F\00bb";
}

dt {
	margin: var(--s1) 0;
	list-style-position: inside;
}

dd {
	display: list-item;
	margin: var(--s-1) var(--s1);
	list-style-position: inside;
	list-style-type: var(--list-style-type);
}

/* If no JS available, some text can be displayed */
noscript {
	padding: var(--s-1);
	background-color: var(--color-lightish);
}

/* Forms */

input {
	padding: var(--s1);
	border-width: 0;
	border-radius: var(--border-radius-small);
}

input[type="submit"],
input[type="button"] {
	text-align: left;
}

input[type="submit"] {
	background-color: var(--color-light);
	color: var(--color-dark);
	font-weight: var(--font-weight-bold);
}

input[type="text"] {
	background-color: var(--color-darkish);
}

/* Shadow container */
.shadow-container {
	box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.13);
}

/* Navigation */
nav a,
span[aria-current="page"],
span[data-state="active"] {
	position: relative;
	text-decoration: none;
}
nav span[aria-current="page"]::before,
nav span[data-state="active"]::before {
	content: "";
	display: block;
	width: 100%;
	height: var(--border-thin);
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: 0.25rem;
	border-bottom-width: var(--border-thin);
	border-color: var(--color-highlight-light);
}

/* Header */
header {
	padding-top: var(--s-3);
	padding-bottom: var(--s-3);
}

header .logo {
	padding-left: calc(var(--s4) / 2);
	padding-right: calc(var(--s4) / 2);
}

.header-container {
	position: relative;
	z-index: 2;
	background-color: var(--color-darkish);
}

header > * {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
header > * > * {
	padding-top: var(--s1);
	padding-bottom: var(--s1);
}
header > * > *:last-child,
header .menu-btn-container {
	flex-grow: 1;
}

header .menu-btn-container {
	padding-right: calc(var(--s4) / 2);
	text-align: right;
}

@media (max-width: 60rem) {
	header {
		justify-content: space-between;
		text-align: center;
	}
	header > * {
		justify-content: center;
	}
	header nav {
		flex-basis: 100%;
	}
}

body {
	background-color: var(--color-primary);
	color: var(--color-light);
}

main {
	position: relative;
	z-index: 1;
	min-height: 70vh;
}

footer {
	padding-left: var(--s4);
	padding-right: var(--s4);
}

footer {
	padding-top: var(--s5);
}
footer > * {
	padding-top: var(--s4);
	padding-bottom: var(--s4);
}

.hero {
	width: 100%;
}

.hero.hero--space-1 {
	padding: calc(var(--s4) * 2) var(--s4) var(--s4);
}

/* Blocs */

.em-card {
	display: flex;
	flex-direction: column;
	min-height: 14.5rem;
	padding: var(--s2);
	border-radius: 5px;
	background-color: var(--color-very-light-pink);
}
.em-card svg {
	fill: currentColor;
	margin-bottom: auto;
	max-width: var(--s4);
	max-height: var(--s4);
}

/* Svg */
.svg-symbols {
	display: none;
}

.hero h1 {
	font-size: var(--s5);
	padding-top: calc(2 * var(--s5));
	padding-right: 30%;
}

@media (max-width: 60rem) {
	.hero h1 {
		font-size: var(--s3);
		padding-top: calc(2 * var(--s4));
		padding-right: 0;
	}
}

.wg {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.highlight {
	background-color: var(--color-mid);
	padding: var(--s1);
}

.info-container {
	padding-top: var(--p5);
	padding-bottom: var(--p5);
	background-color: var(--color-light);
	color: var(--color-dark);
	border-radius: var(--border-radius-large);
}

.info-container a:not([class]) {
	text-decoration-color: inherit;
}

.info-container > *:not(:first-child) > * {
	padding-top: calc(var(--s3) + 2%);
}

.info-container > *:not(:last-child) > * {
	padding-bottom: calc(var(--s3) + 2%);
}

.info-container > *:not(:last-child) > * {
	border-bottom-width: var(--border-thin);
	border-color: var(--color-mid);
}

:focus {
	outline: var(--border-focus) var(--focus-style) var(--color-focus-light);
}

.info-container :focus {
	outline: var(--border-focus) var(--focus-style) var(--color-focus-dark);
}

/* Infos columns */
.info_2_columns_col1 {
	flex-basis: calc(var(--measure) * 3 / 8);
}

.info_2_columns_col2 {
	padding-top: var(--s0);
}

.info_1_column {
	flex-basis: calc(var(--measure) * 3 / 8 + var(--s3) / 2) !important;
}

/* Default Button Link */
.button-default {
	text-decoration: none;
}

.button-default + .button-default {
	margin-left: 1.5rem;
}

.button-default svg {
	fill: currentColor;
	height: 1em;
	width: 1em;
	position: relative;
	top: 0.125em;
}

.icon-square-wrapper,
.info-tooltip .tooltip-button {
	display: inline-block;
	margin: 0 0.3em 0 0;
	padding: 0.2em 0.3em;
	border-radius: 5px;
	position: relative;
	top: 0.175em;
	width: 2.3rem;
	height: 2.5rem;
}

.icon-square-wrapper svg,
.info-tooltip svg {
	height: 1.5em;
	width: 1.5em;
	top: 0.2em;
}

/* Section tooltip */
.info-tooltip {
	position: relative;
}
.info-tooltip .tooltip-button {
	background-color: var(--color-mid);
	border: none;
}

.info-tooltip .tooltip-button-label {
	display: inline-block;
	font-weight: 600;
	color: var(--pine-green);
	transform: rotate(14deg);
}
.info-tooltip .tooltip-content {
	position: absolute;
	bottom: 100%;
	left: 0;
	z-index: 1;
	padding: 0.5em;
	border-radius: 5px;
	width: auto;
	background-color: var(--color-mid);
}

/* DEBUG */
/* .stack-l {
	border-color: #0000ffaa !important;
	border-width: 3px !important;
}
.box-l {
	border-color: #ff00ffaa !important;
	border-width: 3px !important;
}
.center-l {
	border-color: #ff0000aa !important;
	border-width: 3px !important;
} */
