/* 
 * Language Switcher 
 */
.language-switcher {
	text-align: center;
}
.language-switcher .lang {
	position: relative;
	padding: var(--s-5);
	border-radius: var(--s-5);
}
.language-switcher .lang[aria-current="true"]::after {
	position: absolute;
	content: "\A";
	top: 100%;
	left: calc(50% - var(--s-3) / 2);
	width: var(--s-3);
	height: var(--s-3);
	border-radius: 50%;
	background-color: var(--color-highlight-light);
}
.language-switcher .lang[aria-current="true"] {
	font-weight: var(--font-weight-bold);
}

.language-switcher .lang[aria-current="true"]::after {
	color: var(--color-lightish);
}