:root {
	/* Measure */
	--measure: 85ch;

	/* Colors */
	--color-primary: hsl(165, 100%, 25%);
	--color-dark: hsl(194, 62%, 14%);
	--color-darkish: hsl(165, 100%, 20%);
	--color-lightish: hsl(165, 50%, 90%);
	--color-light: hsl(0, 0%, 99%);
	--color-lightest: white;
	--color-mid: #eeeeee;

	--color-focus-dark: hsl(165, 100%, 40%);
	--color-focus-light: hsl(165, 100%, 80%);

	/* Border sizes */
	--border-focus: var(--border-medium);

	/* Border radius */
	--border-radius-small: 5px;
	--border-radius-large: 20px;
}
