<!DOCTYPE html>
<html>

	<!-- <head> from "layouts/partials/head.html"-->
	{{ partial "head.html" }}

	<body>
		<!-- <header> from "layouts/partials/header.html" -->
		{{ partial "header.html" . }}

		<main>
			single.html (loading)
			<article>

				<h1>{{ .Title }}</h1>
				{{ .Content }}

				<a href="/action/result">Acceder aux résultats</a>
				<a href="/action/erreuranalyse">Erreur analyse</a>
				<a href="/action/stopanalyse">Stop analyse</a>

			</article>

		</main>

		<!-- <footer> from "layouts/partials/footer.html" -->
		{{ partial "footer.html" . }}

	</body>

</html>
