<!DOCTYPE html>
<html>

	<!-- <head> from "layouts/partials/head.html"-->
	{{ partial "head.html" }}

	<body>

		<!-- <header> from "layouts/partials/header.html" -->
		{{ partial "header.html" . }}

		<!-- main content of the website : The analyse page N0_ACCUEIL in specification -->
		<main>
			index.html

			<h1>{{ i18n "analyse-title" }}</h1>
			<p>{{ i18n "analyse-description" }}</p>

			<article>
				<form action="/action/loading" method="post">
					<input type="text" name="siteurl" placeholder="http://example.com" size="40" />
					<input type="submit" value="{{ i18n "analyse-cta" }}" />
				</form>

			</article>

<!-- debug -->
			{{ $.Title }}

			{{range sort .Site.RegularPages "Weight" "asc" }}
					<p>{{.}} {{.Title}} | Weight : {{.Weight}} | Kind : {{.Kind}} | Layout : {{.Layout}} | Language : {{.Language}} | Section : {{.Section}} | Type : {{.Type}}</p>
			{{end}}

			Home page :
				<p>{{.}} {{.Title}} | Weight : {{.Weight}} | Kind : {{.Kind}} | Layout : {{.Layout}} | Language : {{.Language}} | Section : {{.Section}} | Type : {{.Type}}</p>

		</main>

		<!-- <footer> from "layouts/partials/footer.html" -->
		{{ partial "footer.html" . }}
	</body>

</html>
