body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 14px;
	background-color: #333333;
}

div.contentParagraph{
  width: 240px;
  padding: 27px 19px 32px 28px;
  border-radius: 5px;
	border-color: #eeeeee;
	border-style: dashed;
  background-color: #ffffff;
}

div.frame-gray {
  width: 209px;
  padding: 27px 19px 32px 28px;
  background-color: #eeeeee;
}

h1, h2, h3, h4 {
	font-family: Arial;
	color: #0d2e38;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
}

h2 {
  margin: 0 0 25px;
  font-size: 48px;
}

h3 {
	margin: 0 0 20px;
	font-size: 24px;
}

a { color: #70d628}
a:visited { color: #6E9A1D}

header, footer {
	margin: 0;
	color: white;
	padding: 0.25em;
}

header a, header a:visited {
	color: white;
}

header .logo {
	float: left;
}

header nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

header ul {
	list-style: none;
	display: flex;
}

header div {
	display: flex;
}

header li+li {
	border-left: 1px solid white;
	margin-left: 1em;
	padding-left: 1em;
}

header li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.25em;
}

header li a:hover {
	background-color: #6E9A1D;
}

footer {
	padding: 1em;
}

footer a, footer a:visited {
	color: white;
}

footer nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
}

footer ul {
	list-style: none;
	display: flex;
}

footer li+li {
	border-left: 1px solid white;
	margin-left: 1em;
	padding-left: 1em;
}

footer li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.25em;
}

footer li a:hover {
	background-color: #6E9A1D;
}

main {
	padding: 1em;
	background-color: white;
	min-height: 30em;
}


code {
	background-color: dimgray;
	color: white;
	padding: 2px;
}


::placeholder {
	color: #6E9A1D;
}


input {
	background-color: white;
	border: 1px solid #6E9A1D;
	color: #6E9A1D;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: larger;
}

input[type="submit"] {
	background-color: #6E9A1D;
	border: none;
	color: white;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: larger;
}
