body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
	font-size: 16px;
	line-height: 1.63;
	color: white;
	background-color: #007e5f;
}

h1, h2, h3, h4 {
	font-family: serif;
}

header {
	padding: 28px 100px 28px 101px;
	box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.13);
	background-color: #007e5f;
}

header, footer {
	margin: 0;
	color: white;
	padding: 10px;
}

header a, header a:visited {
	color: white;
}


header {
	display: flex;
	justify-content: space-between;
}

header ul, footer ul {
	list-style: none;
	display: flex;
}

header li a, footer li a {
	height: 16px;
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.43;
	color: white;
	padding: 10px 20px;
}

header li.logo a {
	padding: 0;
}


main {
	padding: 1em;
	background: url(illustration.png) no-repeat top right;
}

main section.action {
	max-width: 60em;
	margin: auto;
	padding-top: 7em;
	padding-bottom: 5em;
}

main section.action h1 {
	margin: 0 0 29px;
	font-size: 74px;
	line-height: 1.11;
	color: white;
	font-weight: normal;
}

article {
	background-color: white;
}


main section.action input[type=text] {
	background-color: #00654c;
	border: 1px solid #00654c;
	border-radius: 5px;
	color: white;
	padding: 10px 20px;
}

main section.action input[type=submit] {
	margin: 0 0 0 25px;
	border-radius: 5px;
	background-color: white;
	border: 1px solid white;
	color: black;
	padding: 10px 20px;
}

form {
	display: flex;
}


article {
	padding: 2em;
	border-radius: 1em;
	color: #0a3540;
}

.b6 {
	display: flex;
}

.b6 div {
	flex: 1 1 0;
}