{{/* Check available translations */}}
{{- $availableTranslations := slice -}}
{{- range .AllTranslations -}}
	{{- if .RelPermalink -}}
		{{- $availableTranslations = $availableTranslations | append . -}}
	{{- end -}}
{{- end -}}

{{/* Display the language switcher only if at least one translation is available */}}
{{- if gt (len $availableTranslations) 1 }}
	<nav role="navigation" class="language-switcher">
		{{- range $i, $v := $availableTranslations -}}
			{{- if eq .Language $.Language -}}
				<span lang="{{- .Language -}}" title="{{ i18n .Language }}" class="lang" aria-current="true"
					><span aria-hidden="true">{{- .Language -}}</span></span
				>
			{{- else -}}
				<a
					lang="{{- .Language -}}"
					title="{{ i18n (print `SwitchTo_` .Language) (i18n .Language) }}"
					href="{{ .RelPermalink }}"
					hreflang="{{- .Language -}}"
					class="lang"
					><span aria-hidden="true">{{- .Language -}}</span></a
				>
			{{- end -}}
			{{- if gt (len $availableTranslations) (add $i 1) }}&nbsp;|&nbsp;{{- end -}}
		{{- end -}}
	</nav>
{{- end -}}
