<form action="{{ if .Get "action" }}{{ .Get "action" }}{{ else }}{{- ($.Page.GetPage `/loading`).RelPermalink -}}{{ end }}" method="post" class="stack-l js-analysis-submit-form">
	<label for="siteurl">{{ i18n `EcoIndexFormInputLabel` }}</label>
	<div class="with-sidebar-l --right-side --p75">
		<div>
			<input
				id="siteurl"
				name="siteurl"
				placeholder="{{ i18n `EcoIndexFormPlaceholder` }}"
				required
				title="{{ i18n `EcoIndexFormInputInvalid` }}"
				aria-invalid="false" />
			<div><input type="submit" value="{{ i18n `EcoIndexFormSubmitText` }}" /></div>
		</div>
	</div>
</form>
